<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @schedule.name %>
</p>

<p>
  <b>Start:</b>
  <%= @schedule.start %>
</p>

<p>
  <b>End:</b>
  <%= @schedule.end %>
</p>

<p>
  <b>Criteria:</b>
  <%= @schedule.criteria %>
</p>
	  <tr>
	<td><%= image_tag @this_tweet.piclink %></td>
	<td><%= @this_tweet.name %></td>
  <td><%= @this_tweet.twitterhandle %></td>
  <td><%= @this_tweet.text %></td>
  <td><%= @this_tweet.created_at %></td>
</tr>
<br>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
