<%= form_for(@twitstream) do |f| %>
  <% if @twitstream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitstream.errors.count, "error") %> prohibited this twitstream from being saved:</h2>

      <ul>
      <% @twitstream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
